<!DOCTYPE html>
<html dir="ltr" lang="en" class="scroll-smooth antialiased selection:bg-primary-500 selection:text-primary-50" data-theme="base" data-graytheme="grayNormal" data-mode="light">
<head>
  <%= render 'layouts/bravura_template/normal/head' %>
</head>
<body class="overflow-x-hidden bg-white font-sans text-secondary-900 antialiased">
  <section class="flex min-h-screen flex-col justify-between">
    <%= render 'layouts/bravura_template/normal/header' %>
    <main class="main-wrapper flex-1">
      <%= yield %>
    </main>
    <%= render 'layouts/bravura_template/normal/footer' %>
  </section>
  <%= render 'layouts/bravura_template/normal/scripts' %>
</body>
</html>
